<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Title</title>
</head>
<body class="d-flex flex-column min-vh-100">
<div class="wrapper flex-grow-1">
{% block navbar %}

    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="nav-link px-2 fst-italic fs-5 text-warning">Payments Notes</a>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 text-white">Статьи</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">About</a></li>
                </ul>

                <form action="#" method="get" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <input name="search_form" type="search" class="form-control form-control-dark"
                           placeholder="Search Article">
                </form>
                <div class="nav nav-pills">
                    {% if user.is_authenticated %}
                        <a href="#" class="nav me-2 fst-italic fw-bold fs-4 text-warning">
                            {{ user.username }}
                        </a>
                        <a href="#" class="btn btn-outline-light me-2">Logout</a>
                    {% else %}
                        <a href="#" class="btn btn-outline-light me-2">Login</a>
                        <a href="#" class="btn btn-warning">Registration</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

{% endblock %}
<br>
<div class="container-sm">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            {% block registration_url %}{% endblock registration_url %}
        </div>
    </div>

</div>


<div class="container">
    {% block form_found_message %}
        <h3>
            {{ result_found }}
        </h3>
    {% endblock form_found_message %}

    {% block body_content %}{% endblock %}


    {% block paginations %}

    {% endblock %}

</div>
</div>
<footer class="text-center bottom bg-dark">
  <!-- Grid container -->
  <div class="container p-4"></div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="p-3 bg-dark text-warning fst-italic fs-5">
    © 2021
    <a class="text-center text-warning fst-italic fs-5" href="">Django Practice with Amigos</a>
  </div>
  <!-- Copyright -->
</footer>



<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
-->
</body>
</html>